.sheet{
    width: 500px;
    margin-left: 32%;
}
.hh-product{
    text-align:center;
    display:inline-block;
    width:200px;
    margin-left: -10%;

  }
  .hh-cart {
    list-style: none;
    font-size: smaller;
  
  }
.sheet-form{
    width:500px;
    margin-left: 30%;
    margin-top: 20px;
}
